@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body {
    background-image: linear-gradient(to right, #6DB4C2,#D1E3D8);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #575f5a91;
    width:600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #E32D49;
    text-align: center;

}
h2{
    color: #3C4152;

}
p {
    text-align: justify;
}
